# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Data and Databases
data/nexus_logs.db
data/chroma_db/

# Secrets
.env

# Streamlit/OS specific
.streamlit/config.toml
.DS_Store
